@import "/src/app/variables";

.Hero {
  width: 100vw;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin-inline: auto;
  background-color: #000;
  mix-blend-mode: multiply;
  z-index: 100;

  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

.container {
  max-width: 1440px;
  min-width: 200px;
  min-height: 100%;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;

  h1 {
    font-size: clamp(1em, 10vw, 200px);
    text-align: center;
    color: white;
    text-transform: uppercase;

    transition-duration: $time-to-resize;
    transition-timing-function: $ease-to-resize;

    margin-bottom: clamp(0.1em, 3vw, 64px);
    z-index: 10;
  }

  button {
    border: none;
    background: #ff0000;
    padding: 1.75vw 9vw;
    display: block;
    margin-inline: auto;

    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: white;

    cursor: pointer;

    clip-path: inset(0%);
    transition: $time-to-resize $ease-to-resize;

    z-index: 2;

    &:hover {
      clip-path: inset(5%);
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 100%     ;

      background: #fff;
      transform: translateX(-100%);
    }

    &::before:hover {
      transform: translateX(0%);
    }
  }
}

.mainContainer {
  > :first-child::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";

    background: url("/car-background.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    mix-blend-mode: darken;

    z-index: -1;
  }

  > :first-child::after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";

    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 80%
    );
    background-blend-mode: color-burn;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;

    z-index: -1;
  }
}

.optioner {
  width: auto;
  position: absolute;
  bottom: 0;
  left: 90%;
  transform: translateX(-50%);

  scale: .5;
  gap: $space-lg;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.dot {
  width: 12px;
}
