
$darkPrimaryText: #111;
$darkSecondaryText: rgba(
  $color: #111,
  $alpha: 0.6,
);
$darkSmallText: rgba(
  $color: #111,
  $alpha: 0.3,
);
$lightPrimaryText: #fff;
$lightSecondaryText: rgba(
  $color: #fff,
  $alpha: 0.7,
);
$lightSecondaryText: rgba(
  $color: #fff,
  $alpha: 0.3,
);


