// :root {
//   --main-background-color: #fff;
//   --section-padding: clamp(5em, 21vh, 12em);
//   --container-padding: clamp(2.5em, 8vw, 8em);
//   --gap-padding: clamp(1.5em, 4vw, 2.5em);
//   --popup-height: 245px;
//   --content-width: 1440px;
// }

$space-xs: 1.75vw;
$space-sm: 3vw;
$space-lg: 9vw;

$size-xs: 1.75vw;
$size-sm: 3vw;
$size-lg: 9vw;