* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
}

body {
  overflow-x: hidden;
}

p,
small,
h5,
strong,
button,
span {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: clamp(1em, 10vw, 200px);
}

h2 {
  font-size: clamp(1em, 8vw, 96px);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
