@import "../../../app/variables";

.Hero {
  min-height: 100vh;
  max-width: 100em;
  margin: 0 auto;
  padding: 0 var(--section-padding);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-inline: auto;
  background-color: #000;
  mix-blend-mode: multiply;
  z-index: 100;

  clip-path: inset(0 -100vmax);
}

.container {
  max-width: 100em;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 1;

  button {
    border: none;
    background: #ff0000;
    padding: 1.75vw 9vw;
    display: block;
    margin-inline: auto;

    font-size: 1.5rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: white;

    cursor: pointer;

    clip-path: inset(0%);
    transition: $time-to-resize $ease-to-resize;

    z-index: 2;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 100%;

      background: #fff;
      transform: translateX(-100%);
    }

    &::before:hover {
      transform: translateX(0%);
    }
  }
}

.title {
  text-align: center;
  color: white;
  text-transform: uppercase;

  transition-duration: $time-to-resize;
  transition-timing-function: $ease-to-resize;

  z-index: 10;
}

.mainContainer {
  > :first-child::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";

    background: url("/car-background.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    mix-blend-mode: darken;

    z-index: -1;
  }

  > :first-child::after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";

    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 1) 80%
    );
    background-blend-mode: color-burn;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;

    z-index: -1;
  }
}

.optioner {
  width: auto;
  position: absolute;

  scale: 1;
  gap: $space-lg;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-padding);

  @media (width > 768px) {
    top: 50%;
    right: 0;
    transform: translate(calc(-50% - 3vw), -50%);
  }

  @media (width <= 768px) {
    left: 0;
    top: none;
    left: 50%;
    bottom: 0;
    flex-direction: row;
    transform: translate(-50%, -100%) scale(0.75);
  }
}

.dot {
  width: 24px;
}
