.CarPage {
  position: relative;
  min-height: 100dvh;
  max-width: 100em;
  margin: 0 auto;
  padding: 0 var(--section-padding);

  box-shadow: 0 0 0 100vmax #fff;
  clip-path: inset(0 -100vmax);

  background-color: #fff;
}

.name {
  color: #111;
}

.carBrand {
  color: #111;
  opacity: .5;
}

.upper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: var(--container-padding);
  margin-bottom: 3vw;
}

.carImage {
  height: 45dvh;
  width: 100%;
  display: block;
  margin-inline: auto;

  object-fit: contain;
}

.type,
.price {
  text-align: center;
}

.type {
  color: #111;
}

.price {
  text-align: center;
  color: #111;
  opacity: .6;
}

