@import "variables";

.Large {
  position: relative;
  max-width: 100em;
  margin: 0 auto;
  padding: var(--container-padding) var(--section-padding);

  background-color: #fff;
  box-shadow: 0 0 0 100vmax #fff;
  clip-path: inset(0 -100vmax);
}

.item {
  height: 100%;
  width: 134px;
  background: transparent;

  overflow: hidden;
  transition: $time-to-resize $ease-to-resize;

  box-shadow: 0 0 10px #1111117a;

  cursor: pointer;
  filter: brightness(0.5);

  &:hover {
    filter: brightness(1);
  }

  @media (width <= 768px) {
    $random-percent: random(30); // Generates a random integer between 1 and 40.
    $random-percent-value: 70% + $random-percent + "%"; // Add 1 to the random value to get 1 to 40.

    width: $random-percent-value;
  }
}

.carImage {
  position: relative;
  width: 100%;
  height: 100%;

  scale: 1.2;

  object-fit: cover;
}

.subtitle {
  font-size: clamp(5em, 7vw, 96px);
  text-transform: uppercase;
  color: rgba($color: #111, $alpha: 0.8);

  margin-bottom: 5vh;

  &:nth-of-type(2) {
    color: #111;
  }

  @media (width <= 768px) {
    width: 100%;
    text-align: center;
  }
}

.explain {
  display: block;

  font-weight: 500;
  line-height: 1.75;
  color: #111;

  width: 70%;
  margin-left: auto;
  margin-top: $space-sm;
  margin-bottom: $space-sm;

  @media (width <= 768px) {
    width: 100%;
    font-size: clamp(1.2em, 2.7vw, 2.5em);
    text-align: center;
  }
}

.cta {
  width: 70%;
  margin-left: auto;
  margin-top: 10vh;

}

.recovery {
  position: absolute;
  bottom: 0;
  left: 0;

  font-size: clamp(100px, 12vw, 250px);
  letter-spacing: -20px;
  font-weight: 900;
  color: rgba($color: #111, $alpha: 1.0);

}
