@import "/src/app/variables";

.Vehicle {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: stretch;
  background: transparent;

  margin-inline: auto;
  z-index: 100;

  clip-path: inset(0 -100vmax);
  // opacity: 1;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100dvh;

  object-fit: cover;
  object-position: top;

  z-index: -2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 100%;
  padding: var(--container-padding);
}

.fumeBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgb(0, 0, 0, .9);
  mix-blend-mode: darken;

  z-index: -1;
}

.model {
  font-size: 250px;
  font-weight: 900;
  text-align: center;
  line-height: 0.8;
  text-transform: uppercase;
  letter-spacing: -30px;

  color: #fff;
}

.brand {
  color: #8B8989;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.price {
  color: #fff;
}

.cta {
  filter: invert(1);
}
