.CursorFollower {
  position: fixed;

  width: 3vh;
  aspect-ratio: 1 / 1;
  border-radius: 100%;

  background: #ff0000;
  mix-blend-mode: hard-light;

  pointer-events: none;

  z-index: 99;

  @media (width <= 768px) {
    display: none;
  }
}
