@import "variables";

.recovery {
  position: relative;
  width: 100vw;
  height: 15vh;

  display: flex;
}

.right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;

  background: $dark-300;
  box-shadow: 0 0 0 100vmax #dddddd;
  clip-path: inset(0 -100vmax);
}
