@import "/src/app/variables";

.Cars {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto 45vw auto;

  background-color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
}

.centralize {
  width: 1440px;
  height: auto;
}

.title {
  width: 40vw;
  margin-bottom: $space-lg;
  padding-top: $size-lg;

  h2 {
    width: 80%;

    transition-duration: $time-to-resize;
    transition-timing-function: $ease-to-resize;

    margin-bottom: $space-sm;
  }

  p {
    width: 100%;
    font-size: 20px;
    line-height: 150%;

    color: $lightSecondaryText;
  }
}

.options {
  width: 100%;
  padding: $size-sm;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid $secondary-color;
}

.carType {
  opacity: 0.5;

  transition-duration: $time-to-resize;
  transition-timing-function: $ease-to-resize;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.carousel {
  width: 100%;
  height: 50vh;
  margin-top: $space-sm;
  padding-inline: 10vw;

  background: #050505;
}

.item {
  height: 100%;
  width: 134px;
  background: transparent;

  transition: $time-to-resize $ease-to-resize;

  cursor: pointer;
  filter: brightness(0.5);

  &:hover {
    filter: brightness(1);
  }
}

.carImage {
  position: relative;
  width: 100%;
  height: 100%;

  object-fit: cover;

}
