@import "../../app/variables";

.About {
  width: 100%;
  min-height: 100vh;
  position: relative;
  color: $primary-color;
  // padding-bottom: 9vw;

  display: flex;
  justify-content: space-between;
}

.mainContainer {
  width: 1440px;
  margin-inline: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  position: relative;
  padding-bottom: 9vw;
  width: 736px;

  flex: 1.36;

  .recovery {
    padding-left: 0;
  }

  h2 {
    padding-top: 187px;
    margin-bottom: 21px;

    text-transform: uppercase;
    font-size: 96px;
    color: #111;

    display: block;
  }

  small {
    color: rgba($color: #111, $alpha: 0.6);
    font-size: 11px;
  }
}

.content {
  

  display: flex;
  padding-right: 3vw;
  margin-bottom: 64px;

  color: rgba($color: #111, $alpha: 0.8);

  > p:first-child {
    width: 90%;

    font-size: 20px;
    letter-spacing: -3%;
    line-height: 150%;
    font-weight: 500;

    margin-right: 3vw;
  }

  > p:last-child {
    font-size: 11px;
    letter-spacing: -3%;
    line-height: 150%;
    font-weight: 100;
  }
}

.recovery {
  position: absolute;
  width: 100%;
  padding: 3vw;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  font-weight: 200;
  font-family: "Inter", sans-serif;

  h5 {
    font-weight: 100;
    text-transform: uppercase;
  }
}

.right {
  position: relative;
  background: #111;

  flex: 1;

  width: 539px;

  .recovery {
    color: #fff;
  }
}

.dotsListener {
  position: absolute;
  top: $space-lg;
  right: $space-sm;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $space-sm;

  li {
    span {
      position: absolute;
      // transform: translateX(-100%);
      margin-right: $space-sm;

      height: inherit;
      width: 120px;
      color: $secondary-color;

      opacity: 0;
    }

    &:first-child {
      > button {
        background: $secondary-color;
      }
     
      > span {
        opacity: 1;
      }
    }

    > button {
      aspect-ratio: 1 / 1;
      height: 14px;
      width: 14px;
      background: rgba(255, 255, 255, 0.3);

      border-radius: 100%;
    }
  }
}

.sportsTitle {
  position: absolute;
  text-transform: uppercase;
  left: 50%; 
  transform: translateX(calc(50vh - 1440px));

  color: $darkPrimaryText;

  transition: font-size $time-to-resize $ease-to-resize;
}
