.Benefits {
  max-width: 100em;
  margin: 0 auto;
  padding: var(--container-padding) var(--section-padding);

  gap: .5rem;
}

.title {
  margin-bottom: 9vw;
  text-transform: uppercase;

  display: block;
  color: #444;
}

.heightMinViewport {
  min-height: 55dvh;
}

.col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: normal;
}

.label {
  margin-bottom: 3vw;
}

.order {
  margin-right: 1rem;
}

.own {
  color: #111;
  opacity: .2;
}

.benefit {
  &:first-child {
    align-self: baseline;
  }

  &:nth-child(2) {
    align-self: center;
  }

  &:last-child {
    align-self: flex-end;
  }
}

.description {
  width: 100%;
  margin-bottom: 9vw;


  color: #202020;
  opacity: .7;
}

.cta {
  width: 100%;
}