@import "helpers";

.BaseDisplayItemsHorizontal {
  width: 100%;
  // padding: 1.7vw 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  gap: var(--gap-padding);

  @media (width <= 768px) {
    // height: 50dvh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;

    gap: var(--gap-padding);
  }
}
