@import "helpers";

.form {
  max-width: var(--content-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--section-padding);
}

.title {
  margin-bottom: $space-sm;
  color: rgba($color: #111, $alpha: 0.8);
}

.field {
  display: flex;
  padding: var(--gap-padding) 0;
  gap: $space-sm;

  font-family: "Inter", sans-serif;

  border-bottom: 1px solid #11111127;

  &:last-child {
    margin-bottom: 64px;
  }
}

.label {
  display: block;
  margin-bottom: $space-xs;
}

.input {
  color: rgba($color: #111, $alpha: 0.6);

  &:focus {
    border: none;
    outline: none;
  }
  ::placeholder {
    color: rgba($color: #111, $alpha: 0.4);
  }
}

.fullWidth {
  flex: 1;
}

.question {
  display: block;
  resize: vertical;
  height: auto;
  overflow-y: visible;
  width: 100%;
  
  color: rgba($color: #111, $alpha: 0.6);
  font-size: 20px;
  font-family: "Inter", sans-serif;

  flex: 1;

  &:focus {
    border: none;
    outline: none;
  }
  ::placeholder {
    color: rgba($color: #111, $alpha: 0.4);
  }
}

.cta {
  display: flex;

  @media (width <= 768px) {
    display: none;
  }
}

.submit {
  position: relative;
  border: none;
  background: #ff0000;
  padding: 1.75vw 9vw;

  font-size: 1.5rem;
  font-family: Inter, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: white;

  cursor: pointer;

  @media (width <= 768px) {
    margin: 0 auto;
  }


}

.bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;

  @media (width <= 768px) {
    position: absolute;
    width: calc(100% - 2 * var(--section-padding));
    bottom: var(--section-padding);
  }
}
.arrow {
  position: relative;
  transition: 300ms;
  transform: translateX(0%);

  .submit:hover & {
    transform: translateX(100%);
  }
}
